body {
  margin: 0;
  background-image: url("../images/compass.jpg");
  background-size: cover; 
  background-attachment: fixed;
}

.searchBar {
  margin: 2rem auto .25rem auto !important;

}

a.nav-link {
  color: whitesmoke !important;
  padding-right: 1rem !important;
}

/* Sticky search bar on homepage */
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 3.5rem;
  z-index: 1000;
  margin-top: 1rem;
}

.section1 {
  margin-top: 4rem;
 
}

.survey-bg {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: .15rem;
  padding-top: 1rem;

}

h5 {
  color: whitesmoke !important;
  font-weight: bolder !important;
}

.quote {
  color: black;
}


.title {   
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
    font-size: 2rem;       
}

.tagline {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    color: white;      
    
}

/* login and sign up buttons */
.homeBtns, h6 {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  

}  



#search, #homeInput {
  /* display: block; */
  margin-bottom: 10px;
  height: 3.25rem;
  font-weight: 500;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  border-radius: 5px;
  padding: 6px;
}

#charityName {
  color: #d9534f;
  font-weight: bold;

}

/* Margin below login buttons */
.login {
    margin-bottom: 125px;
}

/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: black;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    /* float: right; */
    text-align: right; 
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    text-decoration: none;
    border-radius: 5%;
    display: block;

  }
  
  
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
/* Start Thumbnail Images */
  
  .thumbnails {
    background-color: whitesmoke;
    height: auto;
    padding: 8px;
    border-radius: 5px;
  }
  .thumbnails2, .search-charity, #my-dynamic-added-charities  {
    background: rgba(0, 0, 0, 0.5);
    height: auto;
    padding: 8px;
    border-radius: 5px;   
  }

  .thumb-text {
    font-family: Arial, Helvetica, sans-serif;
  }

  .charCards {
    margin-bottom: 5px;
  }

 
  
  .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    top: 0;
    color: #f1f1f1; /* Grey text */   
    padding: 22px; /* Some padding */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    margin: 0 auto; /* Center it */  
    opacity: 0.85;
    transition: 0.3s;
   
  }   
    
    .content:hover {opacity: 1; cursor: pointer;}

    

/* End Thumbnail Images */
  
/* Stats on hompage */

.stats {
  text-align: left;
}

#pMBtn {
text-decoration: none;

}

#invisible-cat-box {
  display: none;
}

/* #cat-data-dump {

  color: whitesmoke;
  background-color: slategray;
  height: auto;
} */

#search-data-dump, #home-data-dump {
  overflow: hidden;  
  height: auto;
  font-weight: bold;
  /* background-color: lightgrey;   */
}

.search-dump {
  margin-top: 5px;
  border-top: 2px solid red; 
}

#lb {
background-color:  red; 
}



div.scroll { 
  margin: auto; 
  padding:2rem;   
  width: auto; 
  height: 2rem; 
  overflow-x: hidden; 
  overflow-x: auto; 
  text-align:justify; 
  
} 



/* Red search button */
#search-orgs {
  margin-bottom: 5px;
}

form.myChar {
 /* width: 250px; */
  margin: 0;
  padding: 0;
  
}


footer {
  padding: 14px;  
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: auto;
  bottom: 0;
  width: 100%;
  border-top: 5px solid red;    
  z-index: 999;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.my-dynamic-added-charities {

background-color: cornsilk;
border-radius: 5px;
border-top: 5px solid red;  
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
float: left;
margin: 3px;
padding: 3px;
}

.dynamicCard {
  display: none;
}

